<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="dog" class="com.yunfan.pojo.Dog"/>
    <bean id="cat" class="com.yunfan.pojo.Cat"/>

    <!--    在xml中显示配置-->
    <bean id="showPeople" class="com.yunfan.pojo.People">
        <property name="name" value="小明"/>
        <property name="cat" ref="cat"/>
        <property name="dog" ref="dog"/>
    </bean>


    <!--    byName:会自动在容器上下文中查找 和自己对象set方法里面的值对应的 bean id   -->
    <bean id="byName" class="com.yunfan.pojo.People" autowire="byName">
        <property name="name" value="小明"/>
    </bean>

    <!--    byType:会自动在容器上下文中查找 和自己对象属性类型相同的bean   -->
    <bean id="byType" class="com.yunfan.pojo.People" autowire="byType">
        <property name="name" value="小明"/>
    </bean>
</beans>